<html>
    {% load static %}
    <head>
        <title></title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    
    
    </head>
    <body style="background-color: aliceblue; width:100px; height: 200px;">
        <h6 id="products_count" hidden="true" >{{ count }}</h6>
        <div style="height: 10px;"></div>
        {% for i in data %}
        <div class="card mb-3" style="border-color: silver;  width:380px; ;height: min-content; ">
            <div >
              <div style="float: left;">
                <img src="media/{{ i.prod_image }}" style="border-color: black; width: 75px; height: max-content ;" class="img-fluid rounded-start">
              </div>
                <div>
                  <div style="height: 12px;">
                  </div>
                  
                  <div>
                  <b style="display: inline-block; width: 170px;"><h4 style="display: inline-block; width: max-content;"> {{ i.product_name }}</h4></b>
                  <h6 style=" display: inline-block;">Price : </h3> 
                  <h6 id="price" name="{{ i.product_price }}" style="color: yellowgreen; display: inline-block;"> {{ i.product_price }}&nbsp;{{ i.currency }} </h6>

                  </div>
                  <div style="height: 15px;">
                  </div>

                  <div>
                    <h6>{% if i.product_color == ""  %} {% else %} Color  {{ i.product_color }} {% endif %} {% if i.product_size == ""  %} {% else %} Size {{ i.product_size }} {% endif %} Quantity {{ i.product_quantity }}</h6>
                  </div>
                </div>  
            </div>
            </div>
            {% endfor %}
          </div>








        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
       
    </body>
</html>