<html>
    {% load static %}
    <head>
        <title>Error</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    
    </head>
    <body>
        <form action="{% url 'index' %}" method="GET" >
            <h1>You Cannot Logout Twice Please Go To Home Page </h1>
            <button type="submit" class="btn btn-info" style=" display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;" >Go</button>
        </form>
    </body>
</html>