<!-- 7 -->
<div><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'  ></div></label><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label></div>

<!-- end 7 -->




<!-- 6 -->

<div><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'  ></div></label><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label></div>
<!-- end 6 -->



<!-- 5 -->

<div><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'  ></div></label><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label></div>
<!-- end 5 -->



<!-- 4 -->

<div><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'  ></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label></div>
<!-- end 4 -->



<!-- 3 -->

<div><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'  ></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label><label><div   class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label></div>
<!-- end 3 -->




<!-- 2 -->
<div><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'  ></div></label><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'></div></label></div>

<!-- end 2 -->




<!-- 1 -->

<div><label><div  class='gold' style='float: left;'><input  type='radio'  style='visibility:hidden'  ></div></label></div>
<!-- end 1 -->

