<html>
    {% load static %}
    <head>
        <title></title>
        <link rel="stylesheet" href="{%  static 'css/star_rating_style.css' %}">
        <link rel="stylesheet" href="{%  static 'css/progress.css' %}">

    </head>
    <body>



              <div id="div_1" class="gold" style="float: left;">
                <label>
                <input id="1" type="radio" name="rating" style="visibility:hidden" checked >
            </label>
            </div>

            <div id="div_2" class="gold" style="float: left;">
                <label>

                <input id="2" type="radio" name="rating" style="visibility:hidden" checked>
            </label>
            </div>
            <label>

            <div id="div_3"  class="gold" style="float: left;">

                <input id="3" type="radio" name="rating" style="visibility:hidden" checked>

            </div>
            </label>
            <label>

            <div id="div_4" class="gold" style="float: left;">

                <input id="4" type="radio" name="rating" style="visibility:hidden" checked>
            </div>
            </label>
            <label>

            <div id="div_5"  class="gold" style="float: left;">

                <input id="5" type="radio" name="rating" style="visibility:hidden" checked>
            </div>
            </label>
            <label>

          
<div id ="parent">
  <h3>5 out of 7</h3>
<div id="child">

</div>
</div>

<h3>{{ prod_name }}</h3>
<h3>{{ child_name }}</h3>
<h3>{{ cat_name }}</h3>


        </div>
        <script src="{%  static 'js/jquery-3.4.1.min.js' %}" ></script>
        <script src="{%  static 'js/for_iframe_shop.js' %}" ></script>

    </body>
</html>